<section class="container">
    <mat-card>
        <spinner-loading *ngIf="isLoading"></spinner-loading>
        <mat-card-content>
            <div class="conteudo">
                <div class="saldo">
                    <p>Saldo atual:</p>
                    <p class="saldo-valor">{{totalGanhos - totalDespesas | currency:'BRL'}}</p>
                </div>
    
                <div class="cards">
                    <mat-card class="cards-container">
                        <mat-card-content>
                            <div>
                                <p>Ganhos</p>
                                <mat-icon class="receita-color" inline="true">arrow_circle_up</mat-icon>
                            </div>
                            <p class="receita-color">{{totalGanhos | currency:'BRL'}}</p>
                        </mat-card-content>
                    </mat-card>
    
                    <mat-card class="cards-container">
                        <mat-card-content>
                            <div>
                                <p>Despesas</p>
                                <mat-icon class="despesa-color" inline="true">arrow_circle_down</mat-icon>
                            </div>
                            <p class="despesa-color">{{totalDespesas | currency:'BRL'}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Ano</mat-label>
                    <mat-select (selectionChange)="alterarAno($event.value)" [value]="anoSelecionado">
                        <mat-option *ngFor="let ano of anos" [value]="ano">{{ano}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <tab-view-months 
                *ngIf="financas" 
                [data]="financas" 
                (onTabChanges)="calcularValores($event)" 
                (onSalvar)="salvar($event)">
            </tab-view-months>
        </mat-card-content>
    </mat-card>
</section>