.container {
  margin: 30px 80px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.cards-container {
  margin: 0px 25px;
  width: 176px;
  height: 68px;
  transition: all 0.5s ease;
}

.cards-container:hover {
  transform: scale(1.1);
}

.cards-container mat-card-content div {
  display: flex;
  flex-direction: row;
}

.cards-container mat-card-content div p {
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
}

.cards-container mat-card-content div mat-icon {
  margin-left: 5px;
  font-size: 25px;
}

.cards-container mat-card-content p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
