<mat-tab-group (selectedTabChange)="tabChange($event)">
  <form [formGroup]="form">
    <div formArrayName="financas">
      <form [formGroup]="financa" *ngFor="let financa of financas.controls">
        <mat-tab [label]="getMes(financa.get('periodo').value)" [disabled]="isEditar">
          <h2 fxLayoutAlign="center" style="color: green">
            {{ getMes(financa.get('periodo').value) }}
          </h2>
          <h3 style="margin-left: 20px">
            <b>GANHOS</b>
          </h3>
          <div formArrayName="ganhos">
            <form
              [formGroup]="ganho"
              *ngFor="
                let ganho of asFormArray('ganhos', financa).controls;
                let i = index
              "
              style="margin-top: 10px"
            >
              <div fxLayout="row" *ngIf="!isEditar">
                <span fxFlex.gt-sm> {{ i }}.</span>
                <span fxFlex.gt-sm>{{ ganho.get("tipo").value?.nome }}</span>
                <span fxFlex.gt-sm>
                  {{ ganho.get("valor").value | currency: "BRL" }}
                  <mat-icon class="receita-color" inline="true"
                    >arrow_circle_up</mat-icon
                  ></span
                >
              </div>
              <div
                fxLayout="row"
                fxLayoutAlign="space-around center"
                *ngIf="isEditar"
              >
                <mat-form-field appearance="outline">
                  <mat-label>Tipo Ganho</mat-label>
                  <mat-select [compareWith]="compare" type="text" formControlName="tipo">
                    <mat-option *ngFor="let tipo of tipoGanhos" [value]="tipo">
                      {{ tipo.nome }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="valor" currencyMask/>
                </mat-form-field>
                <button
                  mat-mini-fab
                  [matTooltip]="'Excluir'"
                  class="delete-button"
                  modal-confirm
                  legenda="Deseja realmente excluir esse ganho?"
                  (confirm)="deletarGanho($event,financa,i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </form>
            <div 
              fxLayout="row" 
              fxLayoutAlign="center" 
             *ngIf="asFormArray('ganhos', financa).controls.length === 0"
             >
              <h3>Não possui ganhos adicionados</h3>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="isEditar">
              <button
                mat-mini-fab
                [matTooltip]="'Adicionar'"
                color="primary"
                class="add-button"
                (click)="adicionarGanho(financa)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <br>
          <h3 style="margin-left: 20px"><b>DESPESAS</b></h3>
          <div formArrayName="despesas">
            <form
              [formGroup]="despesa"
              *ngFor="
                let despesa of asFormArray('despesas', financa).controls;
                let i = index
              "
              style="margin-top: 10px"
            >
              <div fxLayout="row" *ngIf="!isEditar">
                <span fxFlex.gt-sm> {{ i }}.</span>
                <span fxFlex.gt-sm>{{ despesa.get("tipo").value?.nome }}</span>
                <span fxFlex.gt-sm>
                  {{ despesa.get("valor").value | currency: "BRL" }}
                  <mat-icon class="despesa-color" inline="true"
                    >arrow_circle_down</mat-icon
                  ></span
                >
              </div>
              <div
                fxLayout="row"
                fxLayoutAlign="space-around center"
                *ngIf="isEditar"
              >
                <mat-form-field appearance="outline">
                  <mat-label>Tipo Despesa</mat-label>
                  <mat-select [compareWith]="compare" type="text" formControlName="tipo">
                    <mat-option *ngFor="let tipo of tipoDespesas" [value]="tipo">
                      {{ tipo.nome }}
                    </mat-option>
                    <mat-error validate controlName="tipo"></mat-error>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="valor" currencyMask/>
                </mat-form-field>
                <button
                  mat-mini-fab
                  [matTooltip]="'Excluir'"
                  class="delete-button"
                  modal-confirm
                  legenda="Deseja realmente excluir essa Despesa?"
                  (confirm)="deletarDespesa($event,financa, i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </form>
            <div 
              fxLayout="row" 
              fxLayoutAlign="center" 
              *ngIf="asFormArray('despesas', financa).controls.length === 0 "
              >
              <h3>Não possui despesas adicionadas</h3>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="isEditar">
              <button
                mat-mini-fab
                [matTooltip]="'Adicionar'"
                color="primary"
                class="add-button"
                (click)="adicionarDespesa(financa)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end" *ngIf="!isEditar">
            <button
              class="button-edit"
              mat-raised-button
              fxFlex="10"
              (click)="editar()"
            >
            Editar
            </button>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center" *ngIf="isEditar">
            <button mat-raised-button color="primary" class="save-button" (click)="isEditar = false" [disabled]="form.invalid">
              Salvar
            </button>
            <button
              mat-raised-button
              class="cancel-button"
              (click)="cancelar()"
            >
              Cancelar
            </button>
          </div>
        </mat-tab>
      </form>
    </div>
  </form>
</mat-tab-group>
