.receita-color {
  color: green;
}

.despesa-color {
  color: red;
}


.edit-button {
  font-size: 18px; 
  margin-top: -8px;
  color: gray;
}


.save-button {
  color: white;
  margin: 0 10px;
}

.cancel-button {
  background-color: #b41010;
  color: white;
}

.delete-button {
  background-color: red;
  color: white;
  margin-top: -10px;
}

.add-button {
  color: white;
}

.button-edit {
  background-color: gray;
  color: white;
}

.mat-divider {
  margin-top: 15px;
}