.dados-pessoais {
    margin: 30px 80px;
}

.button-edit {
    background-color: gray;
    color: white;
}

.button-save {
    color: white;
    margin: 0 10px;
}

.button-cancel {
    background-color: #b41010;
    color: white;
}