<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="avatar-outside">
      <div class="avatar">
        <img
          *ngIf="!usuario.fotoBase64; else img"
          src="../../../../../assets/avatar.png"
        />
        <ng-template #img>
          <img [src]="'data:image/jpeg;base64,' + usuario.fotoBase64" />
        </ng-template>
      </div>
    </div>
    <span style="text-align: center; display: flow-root;">
      <strong>{{ usuario.nome }}</strong>
    </span>

    <menu [usuario]="usuario"></menu>
  </mat-drawer>
  <mat-toolbar class="mat-toolbar">
    <button mat-icon-button color="primary" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">SAVEUP</span>
    <span class="example-spacer"></span>
    <button mat-icon-button color="primary" [routerLink]="['/login']">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <spinner-loading *ngIf="isLoading"></spinner-loading>
  <router-outlet></router-outlet>
</mat-drawer-container>
