<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="avatar-outside">
      <div class="avatar">
        <img
          *ngIf="!usuario.fotoBase64; else img"
          src="../../../../../assets/avatar.png"
        />
        <ng-template #img>
          <img [src]="'data:image/jpeg;base64,' + usuario.fotoBase64" />
        </ng-template>
      </div>
      <span>{{ usuario.nome }}</span>
    </div>

    <div style="margin-top: 20px">
      <a
        fxLayout="row"
        fxLayoutAlign="start start"
        class="menu-item"
        [routerLink]="['apresentacao', usuario.id]"
        routerLinkActive="menu-item-active"
      >
        <mat-icon>home</mat-icon>
        <h4>Home</h4>
      </a>
      <a
        fxLayout="row"
        fxLayoutAlign="start start"
        class="menu-item"
        [routerLink]="['conta', usuario.id]"
        routerLinkActive="menu-item-active"
      >
        <mat-icon>account_circle</mat-icon>
        <h4>Conta</h4>
      </a>
      <a
        fxLayout="row"
        fxLayoutAlign="start start"
        class="menu-item"
        [routerLink]="['dashboard', usuario.id]"
        routerLinkActive="menu-item-active"
      >
        <mat-icon>bar_chart</mat-icon>
        <h4>Dashboard</h4>
      </a>
      <a
        fxLayout="row"
        fxLayoutAlign="start start"
        class="menu-item"
        [routerLink]="['tipo-despesa']"
        routerLinkActive="menu-item-active"
      >
        <mat-icon>money_off</mat-icon>
        <h4>Tipo Despesa</h4>
      </a>
      <a
        fxLayout="row"
        fxLayoutAlign="start start"
        class="menu-item"
        [routerLink]="['tipo-ganho']"
        routerLinkActive="menu-item-active"
      >
        <mat-icon>attach_money</mat-icon>
        <h4>Tipo Ganho</h4>
      </a>
    </div>
  </mat-drawer>
  <mat-toolbar class="mat-toolbar">
    <button mat-icon-button color="primary" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">SAVEUP</span>
    <span class="example-spacer"></span>
    <button mat-icon-button color="primary" [routerLink]="['/login']">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <spinner-loading *ngIf="isLoading"></spinner-loading>
  <router-outlet></router-outlet>
</mat-drawer-container>
