<section>
  <mat-card>
    <mat-card-title fxLayoutAlign="center"> TIPO GANHO </mat-card-title>
    <mat-card-content>
      <spinner-loading *ngIf="isLoading"></spinner-loading>
      <form [formGroup]="form">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Pesquisar</mat-label>
            <input
              type="text"
              matInput
              formControlName="nome"
              (keydown.enter)="pesquisar()"
            />
            <button mat-icon-button matSuffix (click)="pesquisar()">
              <mat-icon>search</mat-icon>
            </button>
            <button type="reset" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </form>
      <div fxLayout="column">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="page.content">
            <!-- Position Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef>Descrição</th>
              <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
            </ng-container>
            <ng-container matColumnDef="ação">
              <th mat-header-cell *matHeaderCellDef>Ação</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="actions">
                  <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #actions>
                  <button mat-menu-item (click)= "editar(element)">
                    <mat-icon>edit</mat-icon>
                    Editar 
                  </button>
                  <button
                    modal-confirm
                    (confirm)="delete($event, element)"
                    mat-menu-item
                  >
                    <mat-icon>delete</mat-icon>
                    Deletar
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
          </table>
          <mat-paginator
            [length]="page.totalElements"
            [pageSizeOptions]="[2, 5, 10, 15]"
            [pageSize]="page.size"
            (page)="onPageChanges($event)"
          ></mat-paginator>
        </div>
      </div>
    </mat-card-content>
    <div fxLayout="row" fxLayoutAlign="end">
      <button
        mat-raised-button
        style="background-color: green; color: white"
        (click)="openModal()"
      >
        Cadastrar Novo
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
</section>
