<div class="container">
  <section class="sessao">
    <!--navigations-->
    <nav class="navmenu">
      <img src="./assets/LogoSystem.png" alt="logo" class="logo" />
      <div class="containerLinkMenu">
        <ul class="containerLinks">
          <li><a id="#sobre" class="linkmenu">Sobre</a></li>
          <li><a href="" class="linkmenu">Contate-nos</a></li>
          <li><a routerLink="/login" class="linkmenu">login</a></li>
        </ul>
      </div>
    </nav>
    <!--------Texto------->
    <div class="text-container">
      <p>Olá</p>
      <p>Bem vindo ao SaveUP</p>
      <p>Seu sistema de gestão de <br />gastos pessoais</p>
      <button class="btn">Saiba mais</button>
    </div>
  </section>

  <section>
    <!--services-container---------------------------->
    <div class="services">
      <!--text-->

      <!--1------------->
      <div class="about-container">
        <!--img-->
        <img src="/assets/pexels-karolina-grabowska-4386433.jpg" />
        <!--about-me-text-->
        <div class="about-text">
          <h1>Sobre nós</h1>

          <p>
            Somos um sistema focado em entregar o melhor do gerenciamento de
            suas despesas e otimização do seu tempo, por meio do controle dos
            seus gastos.
          </p>
          <p>
            Trabalhamos com um sistema fluido que traz comodidade e melhor
            acompanhamento dos seus gastos auxiliando dessa forma na melhor
            gerência do seu dinheiro
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <!--services-container---------------------------->
    <div class="services">
      <!--text-->
      <div class="services-text">
        <p>O que Oferecemos?</p>
        <p>um serviço excelente</p>
        <p>
          if you want make a software for your bussniess conatact me.I make as
          soon as possibale.You really like my work, if you don&#8217;t i change
          this until you like if you want make a software for your bussniess
          conatact me.I make as soon
        </p>
      </div>
      <div class="box-container">
        <!--1------------->
        <div class="box-1">
          <span>1</span>
          <p class="heading">Web Design</p>
          <p class="details">
            if you want make a software for your bussniess conatact me.I make as
            soon as possibale.You really like my work, if you don&#8217;t i
            change this until you like if you want.
          </p>
          <button>Read More</button>
        </div>
        <!--2------------->
        <div class="box-2">
          <span>2</span>
          <p class="heading">Web Devoloment</p>
          <p class="details">
            if you want make a software for your bussniess conatact me.I make as
            soon as possibale.You really like my work, if you don&#8217;t i
            change this until you like if you want.
          </p>
          <button>Read More</button>
        </div>
        <!--3------------->
        <div class="box-3">
          <span>3</span>
          <p class="heading">Security SEO</p>
          <p class="details">
            if you want make a software for your bussniess conatact me.I make as
            soon as possibale.You really like my work, if you don&#8217;t i
            change this until you like if you want.
          </p>
          <button>Read More</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <!--services-container---------------------------->
    <div class="services">
      <!--text-->
      <div class="services-text">
        <p>Oque Oferecemos</p>
        <p>Qualites Requaid</p>
        <p>
          if you want make a software for your bussniess conatact me.I make as
          soon as possibale.You really like my work, if you don&#8217;t i change
          this until you like if you want make a software for your bussniess
          conatact me.I make as soon
        </p>
      </div>
      <div class="box-container">
        <!--1------------->
        <div class="box-1">
          <span>1</span>
          <p class="heading">Web Design</p>
          <p class="details">
            if you want make a software for your bussniess conatact me.I make as
            soon as possibale.You really like my work, if you don&#8217;t i
            change this until you like if you want.
          </p>
          <button>Read More</button>
        </div>
        <!--2------------->
        <div class="box-2">
          <span>2</span>
          <p class="heading">Web Devoloment</p>
          <p class="details">
            if you want make a software for your bussniess conatact me.I make as
            soon as possibale.You really like my work, if you don&#8217;t i
            change this until you like if you want.
          </p>
          <button>Read More</button>
        </div>
        <!--3------------->
        <div class="box-3">
          <span>3</span>
          <p class="heading">Security SEO</p>
          <p class="details">
            if you want make a software for your bussniess conatact me.I make as
            soon as possibale.You really like my work, if you don&#8217;t i
            change this until you like if you want.
          </p>
          <button>Read More</button>
        </div>
      </div>
    </div>
  </section>
</div>
