* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1d2521;
}

.main_container {
  background-color: #1d2521;
}

h1.title {
  margin-bottom: 20px;
  color: #444444;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 38px;
  word-spacing: 8px;
  letter-spacing: 1px;
}

p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #a9a9a9;
}

.btn a {
  width: 180px;
  height: 35px;
  line-height: 35px;
  border: 2px solid #41ce2f;
  color: #1eff00;
  display: block;
  margin: 25px auto 0;
  text-align: center;
}
.btn a:hover {
  background-color: #1eff00;
  color: #212121;
  font-weight: 500;
}

.banner_image a {
  width: 180px;
}

.banner_image button {
  background: #7f0;
  background: -webkit-linear-gradient(to right, #1eff00, #41ce2f);
  background: linear-gradient(to left, #1eff00, #2f7426);
  font-family: var(--font-action);
  font-size: 1rem;
  color: #eee;
  padding: 1px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  width: 180px;
  height: 39px;
  cursor: pointer;
}
.banner_image h1 {
  font-size: 38px;
  color: #212121;
}

.main_container {
  position: relative;
}

/* Navigation Bar */
.navbar {
  width: 100%;
  height: 65px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1d2521;
}

.logo a {
  font-family: "Roboto", cursive;
  font-size: 32px;
  color: #41ce2f;
  font-weight: bold;
}

.navbar_items ul {
  display: flex;
}

.navbar_items ul li {
  margin: 0 10px;
}

.navbar_items ul li a {
  text-transform: uppercase;
  color: #fff;
}
.navbar_items ul li a:hover {
  color: #1eff00;
  border-bottom: 1px solid #1eff00;
  transition: 0.5s;
}

/* banner_image */
.banner_image {
  background: url("../../../assets/investimentos.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.banner_image p {
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border-top: #1eff00 1px solid;
  border-bottom: #1eff00 1px solid;
}

.banner_content {
  text-align: center;
  color: #212121;
  animation: zoom 20s;
  animation: moveBanner 1s;
}

.banner_content h1 {
  font-weight: bold;
  color: #1d2521;
}
.banner_content span {
  font-weight: bold;
  color: #1eff00;
  font-size: 25px;
  padding: 3px;
}

@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translate(0) rotateY(0);
    opacity: 1;
  }
}

.banner_content h1 {
  text-transform: uppercase;
  line-height: 38px;
  margin-bottom: 15px;
  color: #212121;
}

.banner_content h1 span {
  color: #1eff00;
}
.banner_content a {
  height: 40px;
  width: 138px;
  font-size: 15px;
  outline: none 0px;
  background: transparent;
  background-color: #1eff00;
  font-weight: 500;
  border: none 0px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

/* About */
.about,
.services,
.contactus,
.ourteam {
  text-align: center;
  padding: 5% 10%;
}

.about p {
  text-align: justify;
  font-size: 17px;
}

.about a {
  border-radius: 5px;
}
.about a:hover {
  background-color: #1eff00;
  color: #1d2521;
  border-radius: 5px;
}

/* Services */
.services {
  background: #f5f5f5;
}
.services p {
  text-align: left;
  font-size: 17px;
}

.diff_services {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.diff_services .diff_services_item {
  width: 30%;
}
.diff_services .diff_services_item p {
  text-align: justify;
}

.diff_services .diff_services_item img {
  width: 100%;
  margin-bottom: 25px;
  transition: all 1s;
}

.diff_services .diff_services_item img:hover {
  transform: scale(1.1);
}

.diff_services .diff_services_item h3 {
  color: #41ce2f;
  margin-bottom: 15px;
  font-weight: 500;
}

/* Contact us */
.form_wrapper .form_input {
  margin-bottom: 15px;
}

.form_wrapper .form_input input[type="text"] {
  width: 250px;
  border-radius: 6px;
  padding: 12px 20px;
  border: 1px solid #ccc;
}
.form_wrapper .form_input input[type="text"]:hover {
  border: 1px solid #1eff00;
}

.form_wrapper .form_input textarea {
  width: 250px;
  padding: 12px 20px;
  height: 80px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form_wrapper .form_input textarea:hover {
  border: 1px solid #1eff00;
}
/* our team */
.ourteam {
  background: #f5f5f5;
}

.ourteam_wrapper {
  display: flex;
  flex-direction: column;
}

.ourteam_wrapper .team {
  display: flex;
  justify-content: space-between;
}

.ourteam_wrapper .team-1.team {
  margin-bottom: 25px;
}

.ourteam_wrapper .team_members {
  width: 30%;
  height: auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.ourteam_wrapper .team_members img {
  display: block;
  width: 90%;
  height: 190px;
  transition: all 0.5s ease;
}

.ourteam_wrapper .team_members:hover img {
  transform: scale(1.1);
}

/* footer */
.footer {
  width: 100%;
  height: 90px;
  text-align: center;
  background: #1d2521;
  padding: 20px 0;
}

.footer a {
  color: #fff;
}

@media (max-width: 720px) {
  .navbar {
    height: auto;
    flex-direction: column;
  }
  .services {
    padding: 10px;
  }

  .logo {
    margin-bottom: 25px;
    margin-top: 8px;
  }

  .navbar_items ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar_items ul li {
    margin-bottom: 5px;
  }

  .banner_content {
    margin-top: 95px;
  }

  .ourteam_wrapper .team_members img {
    display: flex;
    width: 100%;
    height: 70px;
    transition: all 0.5s ease;
  }
}

/* arrow */
.arrow {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background: #fb2274;
  border-radius: 50%;
  display: none;
}

.arrow img {
  width: 20px;
  height: 20px;
  z-index: 1;
}
