<div class="wrapper">
  <nav class="navbar">
    <img src="../../../assets/LogoSystem.png" alt="logo" class="logo" />
    <ul>
      <li><a href="">sobre</a></li>
      <li><a href="">quem somos</a></li>
      <li><a routerLink="/login">login</a></li>
    </ul>
  </nav>
</div>
<header id="home">
  <div class="img-wrapper">
    <img src="../../../assets/bg1.jpg" alt="bg" />
  </div>
  <div class="banner">
    <h1>Bem vindo ao SaveUp</h1>
    <p>O seu sistema de gestão de gastos pessoais</p>
    <a href="#sobre">
      <button>saiba mais</button>
    </a>
  </div>
</header>
<section class="sobre">
  <div id="sobre" class="sobre-info">
    <h1>Sobre</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quas
      culpa velit totam aspernatur ab nulla? Veniam ex commodi maiores tempore
      officia dignissimos? Eum maiores molestias cumque quae repellendus
      eligendi!Loremlorem
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quas
      culpa velit totam aspernatur ab nulla? Veniam ex commodi maiores tempore
      officia dignissimos? Eum maiores molestias cumque quae repellendus
      eligendi!Loremlorem
    </p>
    <div class="sobre-img">
      <img src="../../../assets/imginvest1.jpg" alt="" />
    </div>
  </div>
</section>
<section class="servicos" id="produtos">
  <h1>Oque Oferecemos</h1>
  <div class="servicos-container green">
    <div class="servicos-item">
      <h2>Gestão de gastos</h2>
      <img src="../../../assets/dolar.jpg" alt="Produtos 1" />
    </div>
    <div class="servicos-item black">
      <h2>Pink</h2>
      <img src="../../../assets/money.jpg" alt="Produtos 2" />
    </div>
    <div class="servicos-item graw">
      <h2>Blue</h2>
      <img src="../../../assets/imginvest1.jpg" alt="Produtos 3" />
    </div>
  </div>
</section>
